<launch>

	<!-- turtlebot_bringup -->
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

	<!-- rosbridge_server -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

	<!-- prost_scratch_kobuki_controller -->
  <node name="prost_scratch_kobuki_controller" pkg="prost_scratch" type="prost_scratch_kobuki_controller.py" output="screen"/>

	<!-- wifi_connect -->
  <node name="wifi_connect" pkg="prost_scratch" type="wifi_connect.py" output="screen"/>

	<!-- scratch3_connector -->
	<node name="scratch3_connector" pkg="prost_scratch" type="scratch3_connector.py" output="screen"/>

	<!-- odom_server -->
	<node name="initialpose_broadcaster" pkg="prost_scratch" type="initialpose_broadcaster.py" output="screen"/>
	<node name="odom_publisher" pkg="prost_scratch" type="odom_publisher.py" output="screen"/>
</launch>
